<div class="title">
    <h1>User Types List</h1>
</div>
<div class="container w-80">
    <div class="text-center">
        <button class="big-button" routerLink="add">Add a user type</button>
    </div>

    @if (userTypes().length) {
    <table id="my-table" class="table table-bordered text-center border-black my-table">
        <thead>
            <tr>
                @for (col of sortedColumns; track col) {
                @let selected = sortedColumn() === col;
                <th class="clickable-table-heading" (click)="sortUserTypes(col)">
                    {{col | titlecase}} {{selected ? (sortAscending() ? '↓' : '↑') : ''}}
                </th>
                }
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (userType of sortedUserTypes(); track userType.id) {
            <tr>
                <td>{{ userType.id }}</td>
                <td>{{ userType.name }}</td>
                <td>
                    <div class="d-inline-flex gap-1">
                        <a [routerLink]='["edit", userType.id]' class="btn btn-lg btn-warning">Edit</a>
                        <a (click)="removeUserType(userType.id!)" class="btn btn-lg btn-danger">Remove</a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
    } @else {
    <div class="alert alert-warning">
        No user types found.
    </div>
    }
</div>