<section class="section-title">
    <h3>User Types List</h3>
</section>
<section class="section-content">
    <button class="btn" routerLink="add">Add a user type</button>

    @if (userTypes().length) {
    <table>
        <tr>
            @for (col of sortedColumns; track col) {
            @let selected = sortedColumn() === col;
            <th class="clickable-table-heading" (click)="sortUserTypes(col)">
                {{col | titlecase}} {{selected ? (sortAscending() ? '↓' : '↑') : ''}}
            </th>
            }
            <th>Actions</th>
        </tr>
        @for (userType of sortedUserTypes(); track userType.id) {
        <tr>
            <td>{{ userType.id }}</td>
            <td>{{ userType.name }}</td>
            <td>
                <a [routerLink]='["edit", userType.id]' class="edit-button">Edit</a>
                <a (click)="removeUserType(userType.id)" class="remove-button">Remove</a>
            </td>
        </tr>
        }
    </table>
    } @else {
    <div>
        No user types found.
    </div>
    }
</section>