<div class="title">
    <h1>Add / Edit a user type</h1>
</div>
<section class="section-content">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <input class="form-control" type="text" placeholder="User Type Name" formControlName="name" />
        @if (name.invalid && (name.dirty || name.touched)) {
        <div class="error-message bg-danger-subtle text-danger-emphasis">
            @if (name.hasError('required') || name.hasError('isBlank')) {
            User type name is required.
            } @else {
            An error has occurred.
            }
        </div>
        }

        <button type="submit" class="big-button">{{ editMode() ? 'Update' : 'Create'}}</button>

        @if (errorMessage().length) {
        <div class="error-message bg-danger-subtle text-danger-emphasis">
            {{ errorMessage() }}
        </div>
        }
    </form>
</section>