* {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3ff !important;
}

.btn {
  font-weight: bold !important;
}

.error-message {
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 4px;
}
