<div class="title">
    <h1>Add / Edit a user</h1>
</div>
<section class="section-content">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <input class="form-control" type="text" placeholder="Last Name" formControlName="lastName" />
        @if (lastName.invalid && (lastName.dirty || lastName.touched)) {
        <div class="error-message bg-danger-subtle text-danger-emphasis">
            @if (lastName.hasError('required') || lastName.hasError('isBlank')) {
            Last name is required.
            }
        </div>
        }

        <input class="form-control" type="text" placeholder="First Name" formControlName="firstName" />
        @if (firstName.invalid && (firstName.dirty || firstName.touched)) {
        <div class="error-message bg-danger-subtle text-danger-emphasis">
            @if (firstName.hasError('required') || firstName.hasError('isBlank')) {
            First name is required.
            }
        </div>
        }

        <input class="form-control" type="text" placeholder="Email" formControlName="email" />
        @if (email.invalid && (email.dirty || email.touched)) {
        <div class="error-message bg-danger-subtle text-danger-emphasis">
            @if (email.hasError('pattern')) {
            Email must follow the pattern: [name]@[provider].[domain]
            }
        </div>
        }

        <select class="form-select" formControlName="userType">
            @for (userType of userTypes(); track userType.id) {
            <option>{{ userType.name }}</option>
            }
        </select>
        @if (userType.invalid && (userType.dirty || userType.touched)) {
        <div class="error-message bg-danger-subtle text-danger-emphasis">
            @if (userType.hasError('required')) {
            User type is required.
            }
        </div>
        }

        <button type="submit" class="big-button">{{ editMode() ? 'Update' : 'Create'}}</button>

        @if (errorMessage().length) {
        <div class="error-message bg-danger-subtle text-danger-emphasis">
            {{ errorMessage() }}
        </div>
        }
    </form>
</section>