<section class="section-title">
    <h3>Add / Edit a user</h3>
</section>
<section class="section-content">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <input type="text" placeholder="Last Name" formControlName="lastName" />
        @if (lastName.invalid && (lastName.dirty || lastName.touched)) {
        <div class="alert">
            @if (lastName.hasError('required') || lastName.hasError('isBlank')) {
            <p>Last name is required.</p>
            }
        </div>
        }

        <input type="text" placeholder="First Name" formControlName="firstName" />
        @if (firstName.invalid && (firstName.dirty || firstName.touched)) {
        <div class="alert">
            @if (firstName.hasError('required') || firstName.hasError('isBlank')) {
            <p>First name is required.</p>
            }
        </div>
        }

        <input type="text" placeholder="Email" formControlName="email" />
        @if (email.invalid && (email.dirty || email.touched)) {
        <div class="alert">
            @if (email.hasError('pattern')) {
            <p>Email must follow the pattern: [name]@[provider].[domain]</p>
            }
        </div>
        }


        <select formControlName="userType">
            @for (userType of userTypes(); track userType.id) {
            <option>{{ userType.name }}</option>
            }
        </select>
        @if (userType.invalid && (userType.dirty || userType.touched)) {
        <div class="alert">
            @if (userType.hasError('required')) {
            <p>User type is required.</p>
            }
        </div>
        }

        <button type="submit" class="btn">Create</button>
    </form>
</section>