@if (data().length) {
<table id="my-table" class="table table-bordered text-center border-black my-table">
    <thead>
        <tr>
            @for (key of headingsKeys(); track key) {
            @let selected = selectedColumn() === key;
            <th (click)="sortData(key)" class="table-bordered clickable-table-heading">
                {{ sortableHeadings()[key].title }} {{selected ? (sortAscending() ? '↓' : '↑') : ''}}
            </th>
            }
            @for (title of otherHeadings(); track $index) {
            <th class="table-bordered">
                {{ title }}
            </th>
            }
        </tr>
    </thead>
    <tbody>
        @for (item of sortedData(); track item.id) {
        <ng-container [ngTemplateOutlet]="rowRef()" [ngTemplateOutletContext]="{ data: item }"></ng-container>
        }
    </tbody>
</table>
} @else {
<ng-container [ngTemplateOutlet]="noContentRef()"></ng-container>
}