@if (data().length) {
<div class="table-container">
    <table id="my-table" class="my-table">
        <thead>
            <tr>
                @for (key of headingsKeys(); track key) {
                @let selected = selectedColumn() === key;
                <th (click)="sortData(key)" role="button">
                    {{ sortableHeadings()[key].title }} {{selected ? (sortAscending() ? '↓' : '↑') : ''}}
                </th>
                }
                @for (heading of otherHeadings(); track $index) {
                <th [colSpan]="heading.colspan">
                    {{ heading.title }}
                </th>
                }
            </tr>
        </thead>
        <tbody>
            @for (item of sortedData(); track item.id) {
            <ng-container [ngTemplateOutlet]="rowRef()" [ngTemplateOutletContext]="{ data: item }"></ng-container>
            }
        </tbody>
    </table>
</div>
} @else {
<ng-container [ngTemplateOutlet]="noContentRef()"></ng-container>
}